<footer>
    <p>
        <a href="https://github.com/themarvelousblog/themarvelousblog.github.io"><img src="/images/github-mark.png" height="26px"/></a>
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        <a href="/index.html"><img src="/images/title.png" height="26px"/></a>
        <a href="https://paypal.me/TheMarvelousBlog"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/26_Blue_PayPal_Pill_Button.png"/></a>
    </p>
</footer>