<script lang="JavaScript">
    function searchButton() {

        let string = {% if page.lang == "it" %}
                        "/it/cerca"
                    {% else %}
                        "/en/search"
                    {% endif %}

        window.location.href = string + "?search=" +  document.getElementById("search").value;

    }
</script>
<div class="card">
    <input type="text" id="search" />
    <button id="searchButton" onclick="searchButton()">
        {% if page.lang == "it" %}
            Cerca
        {% else %}
            Search
        {% endif %}
    </button> 
</div>
<div class="card">
    <p>
    {% if page.lang == "it" %}
        Sostieni il sito
    {% else %}
        Support the site
    {% endif %}
    </p>
    <a href="{{ site.paypal_link }}"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png" alt="paypal"/></a>
</div>
<div class="card">
    <p>
        {% if page.lang == "it" %}
            Codice sorgente
        {% else %}
            Source code
        {% endif %}
    </p>
    <a href="{{ site.github_link }}"><img src="/images/github-mark.png" height="75px" alt="github"/></a>
</div>